<div class="main-section aarbog">
	<div class="splash klubside">
        <div class="text-container">
            <h1>Årbog {{urlYear}}</h1>
        </div>
        <div class="logo-container small">
            <img src="images/afterdark-logo.png">
        </div>
    </div>
    <div class="content container">
		<div class="divider">
            
        </div>
        <div class="article">
        	<h2 class="article-title">Forord</h2>
			<div class="author">
				<span class="by">af</span>
				<span class="author-name">Jonas Johansen</span>
			</div>
			<div class="main-text">
				<p>Kære kollega, <br/><br/>
					Tak for endnu et dejligt år i Netcompany og After Dark! Det har været en stor fornøjelse at tilbringe en masse tid med jer. Vi har et stærkt og aktivt socialt miljø i Netcompany som vi skal glæde os over, og værne om at bevare. Vi har en masse ildsjæle og økonomiske midler til at danne basis for vores klubber, fester og arrangmenter. Dette skaber aktiviteter af meget høj kvalitet, som koblet med vores store sociale behov, resulterer i en imponerende deltagelse. Tak for det! Dette lyder elementært, men er ikke nemt at kopiere - det er unikt for os, og det er fedt!
				</p>
				<h2>Best of the best</h2>
				<p>
					Som med så mange andre områder i Netcompany, så sover After Dark ikke i timen blot fordi vi har opnået nogle gode resultater. Vi forsøger konstant at gøre det endnu bedre end vi gjorde sidste år - og det gør vi fordi vi synes det er sjovt, og fordi vi tror det er til gavn for os selv og hinanden. Vi elsker at udvikle os og fortsat lykkes med at levere Danmarks bedste personalearrangmenter. Vi har værktøjet og erfaringen, og kan med dine ideer nå endnu længere - for det skal vi!
				</p>
				<h2>After Dark tweaking</h2>
				<p>
					I 2015 vil vi forsøge at optimere en smule på After Dark. Dette gør vi fordi vi tror på at vi kan skabe et endnu bedre sammenhold gennem større nærhed og skæve, sjove arrangmenter der når længere ud i alle hjørner. Omvendt anerkender vi samtidigt successen som de store events har vist sig at være, og ønsker heraf at bevare det bedste fra After Dark 2.0. Løsningen er simpel: Vi skaber en hybrid af After Dark 1.0 & 2.0, og skaber herigennem After Dark 2.1. Her er altså ikke tale om en major revolution, men heller ikke blot om bug-fixes. Vi optimerer og opdaterer fordi vi synes det er fedt at levere et godt produkt!<br/><br/>
					Konkret betyder det at vi i 2015 vil se to af de store velkendte After Dark events hvor hele firmaet inviteres med, og hvoraf det ene kommer til at ligge i direkte forlængelse af NC Update i August. Dette gøres for at øge event-deltagelsen og for at tilgodese demografien i Netcompany. <br/>
					Samtidigt oprettes fire regionale temaklubber. To i jylland, og to i København. Disse klubber vil afholde en række mindre årlige arrangementer hvor ideen er at skabe et hyggeligt miljø hvor vi kan lære hinanden at kende, både som arrangører og deltagere. Klubberne har hver fået udpeget en ansvarlig formand, men er i høj grad drevet at du genererer ideer og giver en hånd med når det er nødvendigt. De københavnske klubber har hvert et åbent tema hvor vi lægger op til at alle kommer med spændende indspark. Fodboldklubben(Executers), Badmintonklubben(BadAss), Løbeklubben(SPRInT) og Festudvalget fortsætter med samme formænd, og i den skikkelse som vi kender dem.
				</p>
				<h2>Årbogen</h2>
				<p>På denne side har du mulighed for at se hvad der er sket i After Dark i 2014. Vores arrangører har beskrevet deres individuelle aktiviteter, og giver herigennem et spændende tilbageblik på året der var. God fornøjelse!</p>
				<h2>En ekstra tak</h2>
				<p>Sidst en stor tak til alle arrangørerne: <br/>
				Rasmus Hagemann, Lars Bøtker Farsø, Mathias Holm Andersen, Rune Trusell, Kim Bille, Mads Lützhøft, Brian Munck Andersen, Rasmus Peter Hovendal, Hadi Rizek, Jacob Volstrup, Nima Marashi, Danny Derakhshan, Nawar Faek, Gudrun Johannessen, Casper Hjermitslev Jensen, Dadvid Flenstrup, Jens Hammelsvang Hamann og Frederik T. I. B. Vigold.</p>
				
				<p>Jeg glæder mig at se jer til en masse hyggelige stunder i 2015!</p>

				<h3>Med venlig hilsen</h3>				
				<h3>Jonas Johansen<br/>
				Formand for After Dark</h3>
			</div>
        </div>
    </div>
</div>