<div class="main-section">
	<div class="splash klubside">
        <div class="text-container">
            <h1>Årbog 2014</h1>
        </div>
        <div class="logo-container small">
            <img src="/images/afterdark-logo.png">
        </div>
    </div>
    <div class="content container">
		<div class="divider">
            
        </div>
        <div class="article">
        	<h2 class="article-title">Velkommen til After Dark 2.0 anno 2014!</h2>
			<div class="author">
				<span class="by">af</span>
				<span class="author-name">Jonas Johansen</span>
			</div>
			<div class="main-text">
				<p>
				Når årbogen skal udarbejdes kommer det altid bag på mig, hvor mange aktiviteter der har været afholdt i løbet af året. Det er en fornøjelse at samle og gennemgå de mange tekster og billeder, for det minder én om, hvor unik en social kultur vi har her i Netcompany. En social kultur vi skal værne om og alle sammen være med til at videreføre. I After Dark forsøger vi at gøre netop det, ved at samle kollegaer til nogle unikke arrangementer og sociale sammenkomster på tværs af projekter, anciennitet og porteføljer.
				</p>

				<p>Her er en kort opsummering af, hvad vi havde at byde på i 2013:</p>

				<ul>
				 <li>Livet blev forsødet da ”La dolce vita” sørgede for en aften med masser af smagninger og lækkerier, og kreativiteten fik frit løb, da der blev dystet i at lave Danmarks flotteste cup-cake.</li>
				 <li>Cowboy og indianere! Fantasien var stor da Danmarks førende outlaws mødtes i Østerbrohuset til en aften i det vilde western. En aften som blandt andet bød på Netcompanys største pokerturnering med 100 deltagere.</li>
				 <li>Folket ønskede krig! Det var resultatet af NC update afstemningen. WAR blev en dag i krigens tegn, hvor der blev meldt om flere tilskadekomne med forbrændinger pga. den skarpe forårssol.</li>
				 <li>SPRInT førte an ved årets DHL stafet i fælledparken, hvor der blev sat deltagerrekord med 120 deltagere. En klassiker i Netcompany, hvor motion og social samvær forenes i grill og hujende heppere.</li>
				 <li>Balls blev opgraderet til 2.0 som udover indendørsfodbold, bordfodbold og FIFA 2012 i fodboldfabrikken også bød på de årlige badminton- og tennismesterskaber. En dag i sporten og hyggens tegn.</li>
				 <li>Aros og ISO9000 sørgede for After Darks jyske islæt, med en lang række arrangementer i henholdsvis Århus og Aalborg.</li>
				 <li>Sidst men ikke mindst, sørgede festudvalget endnu engang for et par fremragende fester; nemlig sommerfesten og julefrokosten. I år tog festudvalget også teten ved et par fredagsbare, hvilket de har lovet fortsætter i 2014.</li>
				</ul>

				<p>Læs og se billeder af det hele her i årbogen!</p>

				<p>Der skal lyde en stor tak til de enkelte klubformænd og til de personer der involverede sig og var med til at afholde arrangementer i 2013. Der ligger et stort frivilligt engagement i at underholde os alle. Husk at rose dem og alle de andre frivillige ved enhver tænkelig lejlighed: Rasmus Hagemann, Lars Bøtker Farsø, Mathias Holm Andersen, Brian Frisch, Lars Sarbæk Kristiansen, Mads Sølver Svendsen, Kim Bille, Nicolai Svensson, Martin Høgedal, Lars Ulslev Johannesen, Michael Wernebo, Rune Trusell, Thomas Koefoed, Allan Kimmer Jensen, Martin Skou, Andreas Laursen, Mads Lützhøft, Stine Hansen, Brian Munck Andersen, Rasmus Peter Hovendal og Jacob Volstrup.</p>

				<p>Til sidst vil jeg benytte lejligheden til at sige tak for 4 gode år som formand for After Dark. Det har været en fornøjelse at være en del af, og det er nu på tide at give formandsposten videre. Det er mig en stor glæde at kunne byde Jonas Johansen velkommen som den nye formand. Jeg er sikker på han vil føre After Dark sikkert videre og til hidtil usete højder. The sky is the limit! Tag rigtig godt i mod Jonas.</p>
				
				<p>Jeg glæder mig at se jer til en masse sjove og spændende arrangementer i 2014!</p>

				<p>Med venlig hilsen<br>
				Afgående formand for After Dark<br>
				Jesper Klitgaard</p>
			</div>
        </div>
    </div>
</div>