<div class="main-section" ng-class="eventName" ng-controller="viewAreaCtrl">
    <div class="splash klubside">
        <div class="text-container">
            <h1 ng-bind="eventName"></h1>
        </div>
        <div class="logo-container small">
            <img src="images/{{LogoName}}-logo.png">
        </div>
    </div>
    <div class="content container">
        <div class="divider">
            
        </div>
        <div class="article">
        	<h2 class="article-title" ng-bind="title"></h2>
			<div class="author">
				<span class="by">af</span>
				<span class="author-name" ng-bind="author"></span>
			</div>
			<div class="main-text" ng-bind-html="description | rawHtml"></div>
            <h2>Alle billeder</h2>
            <div class="thumbsnails"> 
            	<a class="fancybox" rel="group" href="{{imageUrlLarge}}/{{image}}" ng-repeat="image in images" image> <!-- directive-->
            		<img ng-src="{{imageUrlThumb}}/{{image}}"/>
            	</a>
            </div>
        </div>
     </div>
</div>