<div class="main-section" ng-class="eventName">
    <div class="splash klubside">
        <div class="text-container">
            <h1 ng-bind="eventName"></h1>
        </div>
        <div class="logo-container small">
            <img src="/images/{{LogoName}}-logo.png">
        </div>
    </div>
    <div class="content container">
        <div class="divider">
            <img src="/images/AfterDarkLogo-iconsmall.png" alt="">
        </div>
        <div class="article">
        	<h2 ng-bind="title"></h2>
			<div class="author">
				<span class="by">af</span>
				<span class="author-name" ng-bind="author"></span>
			</div>
			<div ng-bind-html="description | rawHtml"></div>
            <h3>Alle billeder</h3>
            <div class="thumbsnails">
               <img ng-repeat="image in images" ng-src="{{imageUrlThumb}}/{{image}}"/>
            </div>
        </div>
     </div>
</div>