<header>
    <div class="menu-container" ng-controller="aarbogNavigationCtrl">


        <ul class="menu menu-left">
            <li><a href="" ng-href="#/aarbog/2014/" class="year">2014</a></li>
        </ul>
        <a href="#/"><img src="images/nc-logo.png" class="nc-logo" alt="nc-logo"></a>
        <ul class="menu menu-right">
            <li><a href="" ng-href="#/aarbog/2015/" class="year">2015</a></li>
        </ul>
    </div>
</header>
<section>
	<div class="main-section aarbog">
		<div class="splash klubside">
	        <div class="text-container">
	            <h1>Netcompany After Dark</h1>
	        </div>
	        <div class="logo-container small">
	            <img src="images/afterdark-logo.png">
	        </div>
	    </div>
	    <div class="content container">
			<div class="divider">
	            
	        </div>
	        <div class="article">
	        	<!--<h2 class="article-title">Forord</h2>-->
	        	<p>
	        		Velkommen til After Dark 2.1.
	        	</p>
				<div class="author">
					<span class="by">af</span>
					<span class="author-name">Jonas Johansen</span>
				</div>
				<div class="main-text">
					
				</div>
	        </div>
	    </div>
	</div>
</section>
<footer>
    <p class="container">Netcompany - After Dark</p>
</footer>    