<header>
    <div class="menu-container">


        <ul class="menu menu-left">
        	<li><a href="" ng-href="/aarbog/2012/" class="year">Årbog 2012</a></li>
            <li><a href="" ng-href="/aarbog/2013/" class="year">Årbog 2013</a></li>
        </ul>
        <a href="#/"><img src="images/nc-logo.png" class="nc-logo" alt="nc-logo"></a>
        <ul class="menu menu-right">
        	<li><a href="" ng-href="#/aarbog/2014/" class="year">Årbog 2014</a></li>
            <li><a href="" ng-href="#/aarbog/2015/" class="year">Årbog 2015</a></li>
        </ul>
    </div>
</header>
<section>
	<div class="main-section aarbog">
		<div class="splash klubside">
	        <div class="text-container">
	            <h1>Netcompany After Dark</h1>
	        </div>
	        <div class="logo-container small">
	            <img src="images/afterdark-logo.png">
	        </div>
	    </div>
	    <div class="content container">
			<div class="divider">
	            
	        </div>
	        <div class="article">
	        	<br/>
	        	<!--<h2 class="article-title">Forord</h2>-->
	        	<p>
	        		Velkommen til After Dark 2.1. Danmarks førende personalebevægelse.</br>
	        	</p>
	        	<h2>Kommende arrangementer</h2>
	        	<ul>
	        		<li>20. juni 2015, København: NC Hubble (<a href="http://warriordash.dk/">Warriordash</a>, actionløb) | Tilmelding følger</li>
	        		<li>11.-13. september 2015, København: NC Hubble (<a href="http://www.firmaidraet.dk/arrangementer-og-staevner/firmaidraet-open/efteraar-2015">København Firmaidrætsfest</a>, idræt og hygge) | Tilmelding følger</li>
	        	</ul>
	        	<h2>Nyheder</h2>
	        	<div class="news">
	        		<p>4 nye klubber</p>
		        	<p>
		        		4 nye After Dark klubber har set dagens lys. Hvis du har ideer til arrangemmenter eller ønsker at være behjælpelig på anden vis, opfordres du hermed til at kontakte formanden for den individuelle klub. 
		        		<ul>
		        			<li>NC Pl@y (Spil) - formand: <a href="mailto:mnl@netcompany.com">Martin R. W. Nielsen</a></li>
		        			<li>NC Hubble (Opdagelser &amp; Oplevelser) - formand: <a href="mailto:lni@netcompany.com">Lasse  Thelander</a></li>
		        			<li>NC Aros (Århus hygge) - formand: <a href="mailto:maf@netcompany.com">Martin Frost Andersen</a></li>
		        			<li>ISO 9000 (Aalborg hygge) - formand: <a href="mailto:kgg@netcompany.com">Kasper Gadensgaard</a></li>
		        		</ul>
		        	</p>
		        	<p>(Oprettet: 12. feb. 2015)</p>
	       		</div>
	        	<div class="news">
	        		<p>Årbogen 2014</p>
		        	<p>
		        		Årbogen for 2014 er færdig! Her kan du læse om, og se billeder fra, året der var. Følg blot linket i menuen øverst på denne side.
		        	</p>
		        	<p>(Oprettet: 16. jan. 2015)</p>
	       		</div>

	        	<br/>
	        	<p>Har du har ideer eller spørgsmål, er du velkommen til at kontakte <a href="mailto:joj@netcompany.com">formanden</a> for After Dark.</p>
				<!--<div class="author">
					<span class="by">af</span>
					<span class="author-name">Jonas Johansen</span>
				</div>-->
				<h2>Historiske arrangementer</h2>
	        	<ul>
	        		<li>27. februar 2015, København: After Dark #B (Vin) | <a href="http://event.netcompany.com/b/">Tilmelding</a></li>
	        		<li>20. marts 2015, København: NC Pl@y (Poker) | <a href="https://intranet.netcompany.com/personal/mnl/Shared%20Documents/NCPl@y%20-%20Poker%20(tilmeldingssite)/index.html">Tilmelding</a></li>
	        		<li>7. april 2015, København: NC Pl@y (Gaming) | <a href="https://intranet.netcompany.com/personal/mnl/Shared%20Documents/NCPl@y%20-%20NCLAN%20(tilmeldingssite)/index.html">Tilmelding</a></li>
	        	</ul>
				<div class="main-text">
					
				</div>
	        </div>
	    </div>
	</div>
</section>
<footer>
    <p class="container">Netcompany - After Dark - Design af Bdr. Jensen, Netcompany UI team</p>
</footer>    