<!--Used to display pictures from an event with a given event name-->
<div class="photoalbum">
	<div>
		<h1>Velkommen!</h1>
		<div class="desc">
			Send et billede til <a href="mailto:{{eventID}}@event.netcompany.com">{{eventID}}@event.netcompany.com</a>. Kort efter bliver billedet tilgængeligt på denne side sammen med beskrivelsen fra e-mailens emnefelt.<br/>
		</div>
	</div>

    <div class="image-thumbs">
    <div id="photoswipe" photo-swipe images="images">

    </div>
    </div>
    <div photo-slider></div>
</div>
