<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,700,800,300' rel='stylesheet' type='text/css'>
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">

    <!-- endbuild -->
</head>

<body ng-app="NCEventsApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header>
        <div class="menu-container" ng-controller="aarbogNavigationCtrl">


            <ul class="menu menu-left">
                <li><a ng-click="homeClick()" ng-href="#/">Forord</a></li>
                <li ng-repeat="event in leftMenu"><a href="" ng-href="#/{{event.eventId}}" ng-click="eventClick(event)">{{event.eventId}}</a></li>
            <!--
                <li class="selected"><a href="">Forord</a></li>
                <li><a href="">After Dark</a></li>
                <li><a href="">Aros</a></li>
                <li><a href="">BadAss</a></li>
                <li><a href="">Festudvalget</a></li>
                -->
            </ul>
            <img src="/images/nc-logo.png" class="nc-logo" alt="nc-logo">
            <ul class="menu menu-right">
                <li ng-repeat="event in rightMenu"><a href="" ng-href="#/{{event.eventId}}">{{event.eventId}}</a></li>
                <!--<li><a href="">Quiet Please</a></li>
                <li><a href="">Sprint</a></li>
                <li><a href="">ISO 9000</a></li>
                <li><a href="">Executors</a></li>-->
            </ul>
        </div>
    </header>
    <section>
        <div ng-view>
            
        </div>
    </section>
    <footer>
        <p class="container">After Dark Årbog 2014 ~ Tak til alle formænd, arrangører og deltagere</p>
    </footer>
    <!--<div class="container main">
        <div class="header box-container">
            <div>
                <h3>NC Billedviser</h3>
            </div>
        </div>


        <div class="row ">

            <div class="viewarea box-container" ng-controller="viewAreaCtrl">
                <div ng-hide="hideSplash">
                    <p class="lead">

                    </p>
                </div>

                <div ng-view>
                    
                </div>

            </div>

            <navigation></navigation>
        </div>

    </div> -->

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/eventDataService.js"></script>
    <script src="scripts/controllers/eventNavigationController.js"></script>
    <script src="scripts/controllers/viewAreaController.js"></script>
    <script src="scripts/controllers/aarbogNavigationController.js"></script>
    <script src="scripts/directives/Navigation/navigation.js"></script>
    <!-- endbuild -->
</body>

</html>
